
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas: 
    ". a a ."
    ". a a ."
    ". a a ."
    ". a a .";
  }

.space {
    padding-top: 33px;
    width: 333px;
    height: 443px;
}

.item1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
  }


h1 {
    color: red;
}